*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*
build/*
build-mac/*
*.xcconfig
*.xcodeproj

Icon?
.DS_Stor*